rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /unique_usernames/{username} {
      allow read;
      allow create: if request.auth != null;
    }
    match /segments_refs/{id} {
      allow read;
    }
    match /users/{userId} {
      match /corpora/{corpusId}/segments/{segmentId} {
        allow read;
      }
    }
  }
}