@import './index.css';

@layer base {
  :root {
    --text: #454545;
    --background: #f5f5f5;
    --primary: #3da5ff;
    --secondary: #ceced9;
    --accent: #42b883;
  }

  .dark {
    --text: #bababa;
    --background: #0a0a0a;
    --primary: #0067c2;
    --secondary: #262631;
    --accent: #47bd88;
  }
}

@layer base {
  :root {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #e5f3ff;
    --primary-100: #cce7ff;
    --primary-200: #99cfff;
    --primary-300: #66b8ff;
    --primary-400: #33a0ff;
    --primary-500: #0088ff;
    --primary-600: #006dcc;
    --primary-700: #005299;
    --primary-800: #003666;
    --primary-900: #001b33;
    --primary-950: #000e1a;

    --secondary-50: #f1f1f4;
    --secondary-100: #e2e2e9;
    --secondary-200: #c5c5d3;
    --secondary-300: #a9a9bc;
    --secondary-400: #8c8ca6;
    --secondary-500: #6f6f90;
    --secondary-600: #595973;
    --secondary-700: #434356;
    --secondary-800: #2c2c3a;
    --secondary-900: #16161d;
    --secondary-950: #0b0b0e;

    --accent-50: #ecf8f3;
    --accent-100: #daf1e7;
    --accent-200: #b4e4ce;
    --accent-300: #8fd6b6;
    --accent-400: #69c99e;
    --accent-500: #44bb85;
    --accent-600: #36966b;
    --accent-700: #297050;
    --accent-800: #1b4b35;
    --accent-900: #0e251b;
    --accent-950: #07130d;

  }

  .dark {
    --text-50: #0d0d0d;
    --text-100: #1a1a1a;
    --text-200: #333333;
    --text-300: #4d4d4d;
    --text-400: #666666;
    --text-500: #808080;
    --text-600: #999999;
    --text-700: #b3b3b3;
    --text-800: #cccccc;
    --text-900: #e6e6e6;
    --text-950: #f2f2f2;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --primary-50: #000e1a;
    --primary-100: #001b33;
    --primary-200: #003666;
    --primary-300: #005299;
    --primary-400: #006dcc;
    --primary-500: #0088ff;
    --primary-600: #33a0ff;
    --primary-700: #66b8ff;
    --primary-800: #99cfff;
    --primary-900: #cce7ff;
    --primary-950: #e5f3ff;

    --secondary-50: #0b0b0e;
    --secondary-100: #16161d;
    --secondary-200: #2c2c3a;
    --secondary-300: #434356;
    --secondary-400: #595973;
    --secondary-500: #6f6f90;
    --secondary-600: #8c8ca6;
    --secondary-700: #a9a9bc;
    --secondary-800: #c5c5d3;
    --secondary-900: #e2e2e9;
    --secondary-950: #f1f1f4;

    --accent-50: #07130d;
    --accent-100: #0e251b;
    --accent-200: #1b4b35;
    --accent-300: #297050;
    --accent-400: #36966b;
    --accent-500: #44bb85;
    --accent-600: #69c99e;
    --accent-700: #8fd6b6;
    --accent-800: #b4e4ce;
    --accent-900: #daf1e7;
    --accent-950: #ecf8f3;

  }
}